<div>
    <h2 class="show-header text-center">
      Информация о пользователе <%= @user.full_name %>
    </h2>
  </div>

<div class="col-xs-12 col-md-10 col-md-offset-1">

  <div class="col-md-12 col-xs-12 well member">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Имя</th>
          <th>Компания</th>
          <th>Активен</th>
          <th>Дата регистрации</th>
          <th colspan="2"></th>
          <tbody>
            <tr>
              <td><%= @user.full_name %></td>
              <td><%= link_to @user.company.name, @user.company unless @user.company.nil? %></td>
              <td><input type="checkbox" aria-label="..."></td>
              <td><%= @user.created_at.to_formatted_s(:db) %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-pencil">'.html_safe, edit_user_path(@user) %></td>
              <td><%= link_to '<span class="glyphicon glyphicon-remove">'.html_safe, user_path(@user), method: :delete, data: {confirm: 'Вы уверены?'} %></td>
            </tr>
          </tbody>
        </tr>
      </thead>
    </table>
  </div>
</div>
