<% if obj.errors.any? %>
  <div id="error_explanation">
    <h2><%= obj.errors.count  %> <%= t('misc.errors', count: obj.errors.count) %>
      <%= t('misc.prevent', count: obj.errors.count) %> созданию <%= "#{model_name}" %>: </h2>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>