<div class="row">
  <div class="col-md-12">
    <%= simple_form_for([@company, @section], :html => {class: 'form-horizontal', role: 'form' })  do |f| %>
      <%= render 'shared/errors', obj: @section , model_name: 'секции' %>
      <div class="col-md-4 col-md-offset-4">
        <%= f.input :location, label: 'Расположение' %>

        <%= f.association :mall, label: 'ТЦ', include_blank: false %>

        <%= f.simple_fields_for :contact do |contact_form| %>
          <% render 'shared/contact_fields', f: contact_form, contact: @contact %>
        <% end %>

        <%= f.button :submit, @section.new_record? ? 'Добавить адрес' : 'Обновить данные', class: 'btn btn-primary btn-md' %>
      </div>
    <% end %>
  </div>
</div>
