<div class="row">
  <div class="col-md-12">
    <%= simple_form_for(@company, :html => {class: 'form-horizontal'})  do |f| %>
      <%= render 'shared/errors', obj: @company , model_name: 'компании' %>
      <div class="col-md-4 col-md-offset-4">
        <%= f.input :name %>

        <%= f.input :about, label: 'О компании' %>

        <%= f.simple_fields_for :contact do |contact_form| %>
            <% render 'shared/contact_fields', f: contact_form, contact: @contact %>
        <% end %>

        <%= f.button :submit, @company.new_record? ? 'Создать компанию' : 'Обновить данные', class: 'btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
