<div class="row">
  <div class="col-md-12">
    <%= form_for(@company, :html => {class: 'form-horizontal', role: 'form' })  do |f| %>
      <%= render 'shared/errors', obj: @company , model_name: 'компании' %>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :name, text='Название' %>
        </div>
        <div class="col-md-6">
          <%= f.text_field :name, class: 'form-control',
                           autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-3">
          <%= f.label :address, 'Адрес' %>
        </div>
        <div class="col-md-6">
          <%= select_tag 'address',
               options_from_collection_for_select(Address.all, 'id', 'full_address'), {class: 'form-control'} %>
        </div>
      </div>

    <% end %>
  </div>
</div>