
  <div>
    <h2 class="show-header text-center">
      Информация о компании <%= "#{@company.name}" %>
    </h2>
  </div>
  
<div class="col-xs-12 col-md-10 col-md-offset-1">

  <div class="col-xs-12 col-md-12 well member">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Сведения о компании</strong>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><%= @company.about %></li>
        <% @company.contact.phones.each do |phone| %>
          <li class="list-group-item">
            Телефоны:</br><%= "#{phone.format_number}" %>
            <%= "| #{phone.notes}" unless phone.notes.empty? %>
          </li>    
        <% end %>
        <li class="list-group-item">
          Электронная почта: <%= "#{@company.contact.email}" %>
        </li>
      </ul>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Расположены в следующих местах:</strong>
      </div>
      <ul class="list-group">
        <% @company.sections.each do |section| %>
          <li class="list-group-item">
            <%= section.mall.name %>
            Секция: <%= section.location %></br>
            <%= section.mall.full_address %></br>
          </li>
        <% end %>
        <li class="list-group-item" id="add_address">
            <%= link_to 'Добавить адрес', new_company_section_path(@company), class: 'btn btn-default link' %>
        </li>
      </ul>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Представители</strong>
      </div>
      <ul class="list-group">
        <% @company.users.each do |seller| %>
          <li class="list-group-item">
            <%= link_to seller.full_name, seller %>
          </li>
        <% end %>
          <li class="list-group-item">
            <%= link_to 'Добавить представителя', new_user_path, class: 'btn btn-default link' %>
          </li>
      </ul>
    </div>
      <%= link_to 'К списку компаний', companies_path, class: 'btn btn-primary link' %>
      <%= link_to 'Редактировать данные', edit_company_path(@company), class: 'btn btn-primary link' %>
      <%= link_to 'Удалить компанию', company_path(@company), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger link' %>
  </div>
  

</div>
