
  <div>
    <h2 class="show-header text-center">
      Информация о компании <%= "#{@company.name}" %>
    </h2>
  </div>
  
<div class="col-xs-12 col-md-10 col-md-offset-1">

  <div class="col-xs-12 col-md-12 well member">
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= @company.addresses.size > 1 ? 'Адреса' : 'Адрес'  %></strong>
      </div>
      <ul class="list-group">
        <% @company.addresses.each do |address| %>
          <li class="list-group-item">
            <%= address.full_address %></br>
            <%= address.name %>
            Секция: <%= @company.get_section_at_address(address) %>
          </li>
        <% end %>
      </ul>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>Представители</strong>
      </div>
      <ul class="list-group">
        <% @company.users.each do |seller| %>
          <li class="list-group-item">
            <%= seller.full_name %>
          </li>
        <% end %>
          <li class="list-group-item">
            <%= link_to 'Добавить представителя', new_user_path, class: 'btn btn-default link' %>
          </li>
      </ul>
    </div>
    
  </div>
  

</div>
