<div class="row">
  <h1><p class="text-center">Управление ТЦ</p></h1>
</div>
<div class="row">
  <div class="col-md-2">
    <%= link_to 'Добавить ТЦ', new_address_path, class: 'btn btn-primary link' %>
  </div>
</div>
<div class="col-md-12 col-xs-12">
  <% unless @addresses.empty? %>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Название ТЦ или магазина</th>
        <th>Адрес</th>
        <th colspan="2"></th>
        <tbody>
        <% @addresses.each do |address| %>
        <tr>
          <td><%= link_to address.name, address_path(address) %></td>
          <td><%= "#{address.city} #{address.street}, #{address.building}" %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-pencil">'.html_safe, edit_address_path(address) %></td>
          <td><%= link_to '<span class="glyphicon glyphicon-remove">'.html_safe, address_path(address), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
      </tbody>
      </tr>
      </thead>
      </table>
  <% end %>
</div>
