<div class="row">
  <h1><p class="text-center">Информация об адресе</p></h1>
</div>
<div class="row">
  <div class="col-xs-12 col-md-10 col-md-offset-1 well member">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong><%= "#{@address.name}" %></strong></h3>
      </div>
      <div class="panel-body">
        <%= "#{@address.city}, #{@address.street}, #{@address.building}" %>
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <% @address.phones.each do |phone| %>
            <%= phone.format_number %>
            <%= "Доб. #{phone.extension}" unless phone.extension.empty? %>
          <% end %>
        </li>
        <li class="list-group-item">
          <%= link_to 'К списку адресов', addresses_path, class: 'btn btn-primary link' %>
          <%= link_to 'Редактировать', edit_address_path(@address), class: 'btn btn-primary link' %>
          <%= link_to 'Удалить', address_path(@address), method: :delete,
                      data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger link' %>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>Компании зарегистрированые по этому адресу</strong></h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <% @address.companies.each do |company| %>
            <li class="list-group-item">
              <%= company.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>