<div class="row">
  <div class="col-md-12">
    <%= form_for(@mall, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
      <%= render 'shared/errors', obj: @mall, model_name: 'торговые центры' %>
      <div id="create-form">

        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :name, 'Название магазина или ТЦ' %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :city, 'Город' %>
          </div>
          <div class="col-md-4">
            <%= f.select(:city, options_for_select(['Москва', 'Санкт-Петербург']), {}, {class: "form-control"}) %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :street, 'Улица' %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :street, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :building, 'Дом' %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :building, class: 'form-control' %>
          </div>
        </div>
        <% contact = @mall.contact %>
        <%= f.fields_for :contact, contact do |contact_form| %>

          <div class="form-group">
            <div class="control-label col-md-4">
              <%= contact_form.label :email, 'Email' %>
            </div>
            <div class="col-md-4">
              <%= contact_form.phone_field :email, class: 'form-control' %>
            </div>
          </div>

          <% contact.phones.each_with_index do |phone| %>
            <%= contact_form.fields_for :phones, phone do |phone_form| %>
              <div class="form-group">
                <div class="control-label col-md-4">
                  <%= phone_form.label :number, 'Телефон' %>
                </div>
                <div class="col-md-4">
                  <%= phone_form.phone_field :number, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <div class="control-label col-md-4">
                  <%= phone_form.label :extension, 'Доб.' %>
                </div>
                <div class="col-md-4">
                  <%= phone_form.text_field :extension, class: 'form-control' %>
                </div>
              </div>

              <div class="form-group">
                <div class="control-label col-md-4">
                  <%= phone_form.label :notes, 'Примечания' %>
                </div>
                <div class="col-md-4">
                  <%= phone_form.text_area :notes, class: 'form-control' %>
                </div>
              </div>
            <% end  %>
          <% end %>
        <% end %>

        <div class="form-group">
          <div class="control-label col-md-4">
            <%= f.label :details, 'Описание' %>
          </div>
          <div class="col-md-4">
            <%= f.text_area :details, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class='col-md-offset-4 col-md-6'>
            <%= f.submit @mall.new_record? ? 'Создать ТЦ' : 'Обновить данные', class: 'btn btn-primary btn-md' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>