<div class="row">
  <div class="col-md-12">
    <%= simple_form_for(@mall, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
      <%= render 'shared/errors', obj: @mall, model_name: 'торгового центра' %>
      <div class="col-md-4 col-md-offset-4">

        <%= f.input :name, label: 'Название магазина или ТЦ' %>

        <%= f.input :about, label: 'Описание' %>

        <%= f.input :city, label: 'Город', collection: ['Москва', 'Санкт-Петербург'], selected: 'Москва' %>


        <%= f.input :street, label: 'Улица' %>

        <%= f.input :building, label: 'Дом' %>
        
        <%= f.fields_for :contact do |contact_form| %>
          <%= render 'shared/contact_fields', f: contact_form, contact: @mall.contact %>
        <% end %>

        <%= f.button :submit, @mall.new_record? ? 'Создать ТЦ' : 'Обновить сведения', class: 'btn btn-primary btn-md' %>

      </div>
    <% end %>
  </div>
</div>