<div class="row">
  <h1><p class="text-center">Список торговых центров и магазинов</p></h1>
</div>
<div class="col-md-10 col-xs-12 col-md-offset-1">
  <% unless @malls.empty? %>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Название ТЦ или магазина</th>
        <th>Адрес</th>
        <th colspan="2"></th>
        <tbody>
        <% @malls.each do |mall| %>
        <tr>
          <td class="col-md-3"><%= link_to mall.name, mall_path(mall) %></td>
          <td><%= "#{mall.full_address}" %></td>
          <td class="col-md-1"><%= link_to '<span class="glyphicon glyphicon-wrench">'.html_safe, edit_mall_path(mall) %></td>
          <td class="col-md-1"><%= link_to '<span class="glyphicon glyphicon-remove">'.html_safe, mall_path(mall), method: :delete, data: { confirm: 'Вы уверены?' } %></td>
        </tr>
      <% end %>
      </tbody>
      </tr>
      </thead>
      </table>
  <% end %>
</div>
<div class="row col-md-10 col-xs-12 col-md-offset-1">
  <%= link_to 'Добавить ТЦ', new_mall_path, class: 'btn btn-primary link' %>
</div>