<div class="row">
  <div class="col-md-12">
    <%= form_for([current_user, @product], :html => {:multipart => true, class: 'form-horizontal', role: 'form'}) do |f| %>
    <%= render 'shared/errors', obj: @product, model_name: 'товарной позиции' %>
    <div id="create-form">
      <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :category, 'Категория' %>
        </div>
        <div class="col-md-4">
          <%= f.select(:category, options_for_select(['Мебель для гостинной', 'Кухонная мебель']), {}, {class: "form-control"}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :name, 'Наименование' %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :width, 'Ширина, см' %>
        </div>
        <div class="col-md-2">
          <%= f.text_field :width, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :height, 'Высота, см' %>
        </div>
        <div class="col-md-2">
          <%= f.text_field :height, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :depth, 'Глубина, см' %>
        </div>
        <div class="col-md-2">
          <%= f.text_field :depth, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :color, 'Цвет' %>
        </div>
        <div class="col-md-4">
          <%= f.select(:color, options_for_select(%w(Белый Чёрный Красный Зелёный Жёлтый)), {}, {class: 'form-control'}) %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :price, 'Стоимость' %>
        </div>
        <div class="col-md-2">
          <%= f.text_field :price, class: 'form-control' %>
        </div>
        <div class="control-label">
          <p class="text-left">руб.</p>
        </div>
      </div>

       <div class="form-group">
        <div class="control-label col-md-4">
          <%= f.label :description, 'Описание' %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_area :description, class: 'form-control', rows: '10' %>
        </div>
      </div>

      <div class="form-group">
        <% if @product.new_record? %>
          <%= f.fields_for :product_attachments do |p| %>
            <div class="control-label col-md-4">
              <%= p.label :picture, 'Изображения' %>
            </div>
            <div class="col-md-4">
              <%= p.file_field :picture, multiple: true, name: 'product_attachments[picture][]' %>
            </div>
          <% end %>
        <% else %>
            <div class="control-label col-md-4"><strong>Изображения</strong></div>
            <div class="col-md-4">
              <% @product.product_attachments.each do |p| %>
                <%= image_tag p.picture_url, class: 'pic' %>
                <%= link_to 'Удалить', product_attachment_path(p),
                            method: :delete , data: { confirm: 'Вы уверены?'} %>
              <% end %>
              <%= f.fields_for :product_attachments, @product.product_attachments.new do |p| %>
                <div class="col-md-4">
                  <%= p.file_field :picture, multiple: true, name: 'product_attachments[picture][]' %>
                </div>
              <% end %>
            </div>
        <% end %>
      </div>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
          <%= f.submit @product.new_record? ? 'Создать товарную позицию' : 'Сохранить',
                       class: 'btn btn-primary btn-md' %>
        </div>
      </div>
    </div>  
    <% end %>
  </div>
</div>