<div class="col-xs-12 col-md-10 col-md-offset-2">
  <div>    
  	  <h2 class="show-header">
  	  	Информация о товаре <%= "#{@product.name}" %>
  	  </h2>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Категория:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @product.category %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Описание:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @product.description %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Цвет:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @product.color %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well member">
    <div class="col-xs-4">
      <strong>Стоимость:</strong>
    </div>
    <div class="col-xs-8 text-right">
      <%= @product.price %>
    </div>
  </div>

  <div class="col-xs-12 col-md-10 well memmber">
    <div class="col-xs-4">
      <strong>Изображения:</strong>
    </div>
    <div class="col-xs-8">
      <% @product_attachments.each do |p| %>
        <%= image_tag p.picture_url %>
      <% end %>
    </div>
  </div>

  <br>
  <br>
  <div class="col-xs-12 col-md-10 member">
    <%= link_to "Назад", user_products_path(current_user), class: "btn btn-primary btn-md" %>
    <td><%= link_to "Редактировать", [:edit, current_user, @product], class: "btn btn-primary btn-md" %></td>
  </div>

</div>